
<div class="row row-cols-4 justify-content-around">

    <%= link_to breach_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Breach</h3>
            <%= image_tag('/images/breach.png', class:'agent-img') %>
        </div>
    <% end %>

    <%= link_to brimstone_path do %>
        <div class="text-center ml-1 mb-2  border border-danger rounded" >
            <h3>Brimstone</h3>
            <%= image_tag('/images/brimstone.png', class:'agent-img') %>
        </div>   
    <% end %>

    <%= link_to cypher_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Cypher</h3>
            <%= image_tag('/images/cypher.png', class:'agent-img') %>
        </div>
    <% end %>

    <%= link_to jett_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Jett</h3>
            <%= image_tag('/images/jett.png', class:'agent-img') %>
        </div>
    <% end %>

   
    <%= link_to killjoy_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Killjoy</h3>
            <%= image_tag('/images/killjoy.png', class:'agent-img') %>
        </div>
    <% end %>

    <%= link_to omen_path do %>  
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Omen</h3>
            <%= image_tag('/images/omen.png', class:'agent-img') %>
        </div>    
    <% end %>

    <%= link_to phoenix_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Phoenix</h3>
            <%= image_tag('/images/phoenix.png', class:'agent-img') %>
        </div>
    <% end %>

    <%= link_to raze_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Raze</h3>
            <%= image_tag('/images/raze.png', class:'agent-img') %>
        </div>  
    <% end %>
            
    <%= link_to reyna_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Reyna</h3>
            <%= image_tag('/images/reyna.png', class:'agent-img') %>
        </div>
    <% end %>

    <%= link_to sage_path do %>
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Sage</h3>
            <%= image_tag('/images/sage.png', class:'agent-img') %>
        </div>
    <% end %>


    <%= link_to sova_path do %>   
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Sova</h3>
            <%= image_tag('/images/sova.png', class:'agent-img') %>
        </div>
    <% end %>
    
    <%= link_to viper_path do %>    
        <div class="text-center ml-1 mb-2 border border-danger rounded">
            <h3>Viper</h3>
            <%= image_tag('/images/viper.png', class:'agent-img') %>
        </div>
    <% end %>

</div>