<%# Checks if there are any listings for user by checking greater than 0. %>
<% if @listings.length > 0%>
<h2><%= current_user.username %> has purchased </h2>

<%# Displays each listing one by one and shows relevant details with a link to listing. %>
<% @listings.each do | l | %>
    <p>
        <%= image_tag l.listing.picture if l.listing.picture.attached? %>
    </p>
    <p><%= link_to 'Show Listing', l.listing %></p>
    <p><%= number_to_currency(l.listing.price)%></p>
    <p><strong>Purchased:</strong> <%= l.listing.created_at.to_date%></p>
    <p><strong>Coach:</strong> <%= l.listing.seller.username %></p>
    <p><strong>Email:</strong> <%= l.listing.seller.email %></p>
<% end%>

<%# If no listings still displays a message to user. %>
<%else%>
    <h3 class="text-center"><%=current_user.username%> currently has not bought any coaching sessions.</h3>
<%end%>