<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bio, "Bio - Tell us a little about yourself, e.g. your rank and what you can help with!", class:"font-weight-bold" %>
    <br>
    <%= form.text_area :bio%>
  </div>

  <div class="field">
    <%= form.label :agents, class:"font-weight-bold" %>
    <br>
    <% @agents.each do |option| %>
    <%= form.radio_button :agent, option%>
    <%= form.label option %>
    <br>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :availability, class:"font-weight-bold" %>
    <br>
    <%= form.text_area :availability%>
  </div>

  <div class="field">
    <%= form.label :price, class:"font-weight-bold" %>
    <br>
    <%= form.number_field :price%>
  </div>

  <%= image_tag @listing.picture if @listing.picture.attached? %>

  <div>
    <%= form.label :picture, class:"font-weight-bold" %> 
    <br>
    <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>
  
  <br>
  
  <div class="actions">
    <%= form.submit "Submit listing", class:"btn btn-danger" %>
  </div>

<% end %>
