<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<%= image_tag @listing.picture if @listing.picture.attached? %>

<p>
  <strong>Bio:</strong>
  <%= @listing.bio %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @listing.agent %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @listing.availability %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>
<button data-stripe="payment">Buy 1 hour of coaching: <%= number_to_currency(@listing.price) %></button>
<br>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>