<%# Displays current listing %>
<p id="notice"><%= notice %></p>

<h5>
  <strong>Coach:</strong>
  <%= @listing.seller.username %>
</h5>
<br>
<%= image_tag @listing.picture if @listing.picture.attached? %>
<br>

<h5>
  <strong>Bio:</strong>
  <%= @listing.bio %>
</p>

<h5>
  <strong>Agent:</strong>
  <%= @listing.agent %>
</h5>

<h5>
  <strong>Availability:</strong>
  <%= @listing.availability %>
</h5>

<h5>
  <strong>Price for 1 hour of coaching:</strong>
  <%= number_to_currency(@listing.price) %>
</h5>

<%# Confirms what should display- nothing if user created listing, pay button if user signed in or call to sign in if not logged in. %>
<% if user_signed_in? && current_user.id != @listing.seller_id  %>
  <button class="btn btn-danger" data-stripe="payment">Buy 1 hour of coaching: <%= number_to_currency(@listing.price) %></button>
<% elsif !user_signed_in? %>
  <button type="button" class="btn btn-danger"> <%= link_to 'Please sign in to purchase coaching session', new_user_session_path, class:"text-white" %> </button>
<% end %>
<br>
<%# Only displayed if current user created listing %>
<%= link_to 'Edit', edit_listing_path(@listing) if user_signed_in? && current_user.id == @listing.seller_id %> |
<%= link_to "Delete", @listing, method: "delete", data: {confirm: "Really delete the listing?"} if user_signed_in? && current_user.id == @listing.seller_id %>
<br>

<%= link_to 'Home', root_path %>

<%# Used for stripe payment. %>
<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>