<!DOCTYPE html>
<html>
  <head>
    <title>Valorant Coach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body>
    <%# Containers are used for styling. Renders shared content all pages and allows notices to pop up. %>
    <div class="page-container">   
      <div class="content-wrap">   
        <%= render "shared/header"%>
        <%= render "shared/navbar"%>
        <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <%= render "shared/footer"%>
    </div>
  </body>
</html>
